section {
    position: fixed;
    right: 0;
    top: 80px;
    height: 100vh;
    width: 50px;
    color: white;
}

section i {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: pointer;
}

section i:hover {
    color: white;
}

.bx-menu {
    color: white;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.redes-sociales {
    margin-top: 1rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


@media (max-width: 768px) {
    section {
        width: 30px;
    }

    .redes-sociales {
        font-size: 1.2rem;
    }

}